* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    }

body {
  height: auto;
  width: 100%;
  margin: 10% auto;
}

body {
    background: url('assets/sunset.jpg') no-repeat center center fixed;
    background-size: cover;
  }

.main {
  height: 700px;
  width: 700px;
  margin: 0 auto;
  box-shadow: 15px 15px 10px gray;
}

.profile-card {
  height: 100%;
  width: 60%;
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}

#first-divider {
  height: 100%;
  width: 3%;
}

#first-column {
  height: 100%;
  width: 37%;
}

#first-medium-rectangle {
  height: 48.5%;
  width: 100%;
}

#second-divider {
  height: 3%;
  width: 100%;
}

#second-medium-rectangle {
  height: 48.5%;
  width: 100%;
  text-align: center;
}

 .relax {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    filter: grayscale(50%);
    padding: 1px;
    background-color: #666;
  }

.quote {
  padding: 8%;
  font-size: 20px;
}

.afraid {
  padding-bottom: 8%;
  font-size: 15px;
  font-weight: bold;
}

.Me {
  height: auto;
  width: 100%;
  }

.profile-image {
  margin-top: -80px;
}

.head {
    padding: 5%;
  }
  
.content {
    padding: 5%;
    border-top: 1px solid hsla(0, 0%, 30%, .8);
  }

.head, .content {
    width: 90%;
    margin: 0 auto;
  }

 .head {
    text-align: center; 
  }
  
  .links {
    text-align: center;
    padding: 5%;
  }

.right {
  float: right;
}

.black {
   background-color: black;
}

img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    filter: grayscale(20%);
  }
  
  h1{
    font-size: 28px;
    
  }
  
  h2 {
    color: #2e2e1f;
    font-size: 15px;
  }
  
  span {
   color: hsl(60, 22%, 25%);
  }
  
  p {
    color: hsla(60, 22%, 10%,.9)
  }

.column {
  color: aqua;
}
  
  body {
    font-family: 'Festive', cursive;
  }
  
  .social-icon {
    color: #2e2e1f;
    filter: grayscale(50%);
  }
  
  .social-icon:hover {
    color: rgb(228, 19, 175);
    transition: all 0.5s ease-in-out;
    filter: grayscale(20%);
  }
  
  .about {
    font-weight: bold;
  }

  a {
      color: blueviolet;
  }

  #Hungary:hover {
    color: rgb(228, 19, 175);
    transition: all 1.5s ease-in-out;
    font-size: 20px;
  }

ul {
  list-style-type: none;
}

.inline {
  display: inline;
}
